{
    "env": {
      "test": {
        "plugins": [
          ["istanbul", {
            "exclude": [
                "**/*.get.js",
                "**/*.post.js",
                "**/*.patch.js",
                "**/*.delete.js",
                "**/*.dummyData.js"
            ]
          }]
        ]
      }
    }
  }